In [ ]:
pip install pymysql

In [ ]:
import pymysql as sql

1. Write a Python program to connect a database and create a MySQL table within the database.

In [ ]:
conn = sql.connect(host='localhost',user='root',password='root',port=3306,database='pyclass')
cur = conn.cursor()
cur.execute('create table MySQL(name varchar(10),marks int)')
print('Table created')
conn.commit()
conn.close()

2. Write a Python program to list the tables of given MySQL database file.

In [ ]:
li = []
conn = sql.connect(host='localhost',user='root',password='root',port=3306,database='mysql')
cur = conn.cursor()
cur.execute('show tables')
result = cur.fetchall()
for i in result:
    li.append(i)
print(li)
conn.commit()
conn.close()

3. Write a Python program to create a table and insert some records in that table. Finally selects all rows from the table and display the records.

In [ ]:
conn = sql.connect(host='localhost',user='root',password='root',port=3306,database='mysql')
cur = conn.cursor()
cur.execute('create table test(name varchar(15), marks int)')
cur.execute("insert into test values('Manish',300),('Mihir',275),('Shivam',250),('Vikas',225),('Vivek',200)")
cur.execute("select * from test")
result = cur.fetchall()
for i in result:
    print(i)
conn.commit()
conn.close()

4. Write a Python program to insert a list of records into a given MySQL table.

In [ ]:
conn = sql.connect(host='localhost',user='root',password='root',port=3306,database='pyclass')
cur = conn.cursor()
cur.execute("insert into MySQL values('Shubham',175)")
print('Values inserted')
conn.commit()
conn.close()

5. Write a Python program to insert values to a table from user input.

In [ ]:
conn = sql.connect(host='localhost',user='root',password='root',port=3306,database='pyclass')
cur = conn.cursor()
n = input('Enter name: ')
m = int(input('Enter marks: '))
cur.execute('insert into MySQL values(%s,%s)',(n,m))
print('Values inserted')
conn.commit()
conn.close()

6. Write a Python program to count the number of rows of a given MySQL table.

In [ ]:
conn = sql.connect(host='localhost',user='root',password='root',port=3306,database='pyclass')
cur = conn.cursor()
rows = cur.execute("select * from mysql")
print('Total number of rows: ',rows)
conn.commit()
conn.close()

7. Write a Python program to update a specific column value of a given table and select all rows before and after updating the said table.

In [ ]:
conn = sql.connect(host='localhost',user='root',password='root',port=3306,database='pyclass')
cur = conn.cursor()
cur.execute("select * from mysql")
result = cur.fetchall()
print("Original table")
for i in result:
    print(i)
print('Updated table')
cur.execute("update mysql set marks = 200 where name = 'Shubham'")
cur.execute('select * from mysql')
result = cur.fetchall()
for i in result:
    print(i)
conn.commit()
conn.close()

8. Write a Python program to update all the values of a specific column of a given MySQL table.

In [ ]:
conn = sql.connect(host='localhost',user='root',password='root',port=3306,database='pyclass')
cur = conn.cursor()
cur.execute("select * from mysql")
result = cur.fetchall()
print("Original table")
for i in result:
    print(i)
print('Updated table')
cur.execute("update mysql set marks = marks+200")
cur.execute('select * from mysql')
result = cur.fetchall()
for i in result:
    print(i)
conn.commit()
conn.close()

9. Write a Python program to delete a specific row from a given MySQL table.

In [ ]:
conn = sql.connect(host='localhost',user='root',password='root',port=3306,database='pyclass')
cur = conn.cursor()
cur.execute("delete from mysql where name = 'shobhit'")
print('row deleted')
cur.execute('select * from mysql')
result = cur.fetchall()
for i in result:
    print(i)
conn.commit()
conn.close()

10. Write a Python program to alter a given MySQL table.

In [ ]:
conn = sql.connect(host='localhost',user='root',password='root',port=3306,database='pyclass')
cur = conn.cursor()
cur.execute('alter table mysql drop marks')
cur.execute('select * from mysql')
result = cur.fetchall()
for i in result:
    print(i)
conn.commit()
conn.close()